.file-message-card {
    display: inline-block;
    background: #f7f8fa;
    border-radius: 12px;
    padding: 10px 16px;
    margin: 4px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    max-width: 320px;
}

.image-in-thread-as-icon {
    border-radius: 4px;
    max-height: 50px;
    max-width: 100%;
}
.video-in-thread-as-icon {
    border-radius: 4px;
    /*max-height: 50px;*/
    max-width: 90%;
}


.file-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: inherit;
    text-decoration: none;
}

.file-link:hover {
    background: var(--bg-button-hover-color);
}

.file-icon {
    display: flex;
    font-size: 2em;
    margin-right: 12px;
}

.pdf-icon {
    /*color: #fb4e5b;*/
}
.image-icon {
    color: #1976d2;
}
.text-icon {
    /*color: #388e3c;*/
}
.file-generic-icon {
    color: #888;
}

.file-meta {
    display: flex;
    flex-direction: column;
}

.file-name {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.15em;
}

.file-type {
    font-size: 0.85em;
    color: #555;
}